// html{
//     -webkit-font-smoothing: antialiased;
// }
// body{
//     font-size: 15px;
//     line-height: 24px;
//     padding: 0;
//     margin: 0;
// }
// a:visited {
//     text-decoration: none;
//     outline: none;
// }

// button, 
// button:active, 
// button:focus,
// a,
// a:visited,
// a:active,
// a:focus {
//     text-decoration: none !important;
//     outline: none !important;
// }
#map {
    height: 600px;
}
.image-gallery-image {
    text-align: center;
    width:100%;
    img { 
        width: 40%;
    }
}
.slider-decorator-0, .slider-decorator-1 {
  transform: none !important;
}
.carousel-indicators {
    position: unset !important;
    bottom: unset !important;
    left: unset !important;
    margin-left: unset !important;
    width: unset !important;
    li {
        margin: 0 10px 0 0 !important;
        width: 19px;
        height: 19px; 
    }
}
.to-top {
  & > div {
      z-index: 10 !important;
      background-color: rgba(0,0,0,.5) !important;
  }
}
.facebook {
    margin-right: 8px !important;
}

.about {
    text-align: justify;

}
.contact {
    height: 5em;
    margin: 1em;
    i {
        font-size: 50px;
        width: 50px;
        text-align: center;
        color: #31A3DD;
        float: left;
        margin-right: 10px;
    }
  }
  .contact:hover img {
    transition: box-shadow linear 0.3s;
    box-shadow: none;
  }
  .contact img {
    transition: box-shadow linear 0.1s;
    padding: .5em;
    float: left;
    margin-right: 1em;
  }
  .contact .contact-data {
    //display: inline;
    display: flex;
    
  }
  .contact .contact-data label {
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 7px;
    font-size: 16px;
    font-weight: normal;
    height: 50px;
  }
  .company {
    height: 32px;
  }
  @media (max-width: 992px) {
    .company {
      padding-left: 14px;
      height: auto;
    }
    .about {
        padding: 0 16px;
        text-align: justify;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 16px;
        }
        .alignleft{
            float: none;
        }
    }
  }