<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Косметолог 48 - сайт Якушенко Сергея Сергеевича</title>
        <meta name="description" content="Врач-дерматолог Сергей Якушенко">
        <meta name="keywords" content="Дрематология">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel='stylesheet' id='OpenSansRegular-css'  href='//fonts.googleapis.com/css?family=Open+Sans&#038;ver=4.6.9' type='text/css' media='all' />
        <link rel='stylesheet' id='OpenSansBold-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A700&#038;ver=4.6.9' type='text/css' media='all' />
        <link rel='stylesheet' id='OpenSansSemiBold-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A600&#038;ver=4.6.9' type='text/css' media='all' />
        <meta property="og:title" content="Врач-дерматолог Сергей Якушенко"/>
        <meta property="og:image" content="http://косметолог48.рф/assets/images/image.png"/>
        <meta property="og:url" content="http://косметолог48.рф"/>
        <meta property="og:type" content="profile"/>
        <meta property="og:description" content="Дерматолог"/>
        <meta name="twitter:title" content="Врач-дерматолог Сергей Якушенко"/>
        <meta name="twitter:description" content="Дерматолог"/>
        <meta name="twitter:image:src" content="http://косметолог48.рф/assets/images/image.png"/>
        ${link-path}
    </head>
    <body class="home blog">   
        <div id="root"></div>
        <div itemscope itemtype="http://schema.org/Organization" style="display:none">
            <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                <img itemprop="image" src="http://косметолог48.рф/favicon.ico" />
            </span> 
            <meta itemprop="description" content="Дерматолог"/>
            <meta itemprop="image" content="http://косметолог48.рф/assets/images/image.png"/>
            <meta itemprop="name" content="Дерматолог"></meta>
            <meta itemprop="telephone" content="8 (960) 152-14-22"></meta>
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">ул. Марины Расковой, дом 18</span>
                <span itemprop="addressLocality">г. Липецк</span>
            </span>
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">ул. Гагарина, 45а (5 этаж)</span>
                <span itemprop="addressLocality">г. Липецк</span>
            </span>
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">ул. Кузнечная, д. 10 а</span>
                <span itemprop="addressLocality">г. Липецк</span>
            </span>
            <a itemprop="url" href="http://косметолог48.рф"></a>
        </div>
        <script type="text/javascript" async src="${js-path}index.js?v={version}"></script>
</html>